
#first{
	background-color: #FFFFFF;
	font-family: georgia,sens-serif;
	word-spacing: 0.5em;
	font-size: 18px;
	width: 84%;
	margin-top: 1.5%;
	margin-left: 6%;
	padding-left: 2%;
	padding-top: 0%;
	padding-bottom: 0.5%;
    margin-bottom: 0px;
}
#second{
	background-color: #FFFFFF;
	font-family: georgia,arial,sens-serif;
	word-spacing: 0.1em;
	font-size: 18px;
	width: 84%;
	margin-left: 6%;
	margin-bottom: 0px;	
	padding-left: 2%;
}
#third{
	background-color: #FFFFFF;
	word-spacing: 0.1em;
	font-size: 16px;
	width: 84%;
	height: 28%;
	padding-top: 0.5%;
	margin-top: 0px;
	padding-left: 2%;
	margin-left: 6%;
	margin-bottom: 23px;
}
#four{
	background-color: #FFFFFF;
	font-family: Verdana,sens-serif;
	font-size: 15px;
	width: 84%;
	
	padding-right:0%;
	padding-left: 2%;
	padding-bottom: 0.7%;
	margin-left: 6%;
}
#five,#seven{
	background-color: #FFFFFF;
	width: 84%;
	padding-top: 5px;
	padding-left: 2%;
	margin-left: 6%;
	height: 25%;
}
#user,#mail,#area,#know,#browser{
	background-color: #e5e4e4;
	font-family: Arial,sens-serif;
	font-weight: bold;
	font-size: 16px;
	word-spacing: 0.3em;
	border: 1px inset black;
	border-radius: 8px;
}
#area{
	width: 80%;
	height: 100px;
	margin-left: 0%;
	margin-top: 1%;
	margin-bottom: 1%;
	padding: 15px;
}
fieldset{
	border: 2px solid rgb(178, 176, 176);
	margin-top: 0px;
}
legend{
	width: 90%;
	text-align: left;
	border: 2px inset rgb(87,87,87);
	padding: 5px 10px 5px 10px;
	margin-left: 0.1em;
	margin-bottom: 5px;
	background-color: rgb(51, 146, 146);
	color: white;
	
	text-transform: uppercase;
	font-family: Georgia, 'Times New Roman', Times, serif;
	word-spacing: 0.3em;
	font-size: 20px;
}
legend.required{
	margin-bottom: 0.5%;
	margin-top: 0px;
	width: 150px;
}
.third{
	text-align: left;
	padding: 0px 0px 0px 8px;
}

h2{
	
	font-size: 21px;
}

input.image{
	width: 170px;
	height: 40px;
}


.copyright{
font-size: 1rem;
font-family: Cambria,Georgia,Arial,sans-sarif;
text-align: center;
color: black;
margin-top: 0rem;
padding-top: 0rem;
line-height: 0rem;
}

@media only screen and (max-width: 500px) {
  .copyright{
    font-size: 0.7rem;
    margin: 0rem;
    padding: 0rem;
    line-height: 0rem;
    margin-bottom: 0.3rem;
	
  }
}