body {
    background-color: #f5f5f5;
    color: #4e4e4e;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
  }
  
  
  .box-shadow, .card-blog, .work-box, .service-box, .paralax-mf {
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
  }
  
  .box-shadow-a, .button:hover {
    text-decoration: none;
    box-shadow: 0 0 0 4px #cde1f8;
  }
  
  
  
  
  /*--/ Sections /--*/
  .sect-4 {
    padding: 4rem 0;
  }
  
  .sect-pt4 {
    padding-top: 2rem;
    margin-top: 0px;
  }
  
  .sect-mt4 {
    margin-top: 0rem;
  }
  
  /*--/ Title s /--*/
  .title-s {
    font-weight: 600;
    color: #1e1e1e;
    font-size: 1.1rem;
  }
  
  /*--/ Title A /--*/
  .title-box {
    margin-bottom: 4rem;
  }
  
  .title-a {
    text-decoration: none;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .subtitle-a {
    text-decoration: none;
    color: #4e4e4e;
  }
  
  .line-mf {
    width: 40px;
    height: 5px;
    background-color: #0078ff;
    margin: 0 auto;
  }
  
  /*--/ Title Left /--*/
  .title-box-2 {
    margin-bottom: 3rem;
  }
  
  .title-left {
    font-size: 2rem;
    position: relative;
  }
  .title-left:before {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #0078ff;
    width: 100px;
    bottom: -12px;
  }
  
  
 
  /*------/ Box /------*/
  .box-pl2 {
    padding-left: 2rem;
  }
  
  .box-shadow-full {
    padding: 3rem 1.25rem;
    position: relative;
    background-color: #fff;
    margin-bottom: 3rem;
    z-index: 2;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  }
  @media (min-width: 768px) {
    .box-shadow-full {
      padding: 3rem;
    }
  }
  
  
/*--------------------------------------------------------------
# Body
--------------------------------------------------------------*/
#ul{
  font-size: 1.25rem;
  padding-left: 1.4rem;
}
#ul li{
  margin-bottom: 0.7rem;
}
#mabout{
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  padding: 0rem;
}
#rks{
  margin-bottom: 0.5rem;
  margin-top: 0rem;
  padding-top: 0px;
}
#rkss{
  margin-bottom: 1rem;
  margin-top: 3rem;
}
.about-mf .box-shadow-full {
  padding-top: 2rem;
  padding-bottom: 3rem;
  margin-bottom: 1.5rem;
}
.about-mf .about-img {
  margin-bottom: 1rem;
  margin-top: 0.4rem;
  
}


.about-mf .about-img img {
  margin-left: 0.1rem;
  
}
@media (min-width: 768px) {
  .about-mf .about-img img{
    height: 31.2rem;
  }
}
@media (min-width: 767px) {
  .about-mf .box-pl2 {
    margin-top: 3rem;
    padding-left: 0rem;
  }
}

#aboutbtn{
  width: 100%;
  text-align: center;
}

@media (min-width: 768px){
.container, .container-md, .container-sm {
    max-width: 89%;
  }
}


.container-fluid{
    margin: auto;
    display: flex;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    padding-left: 0rem;
    padding-right: 2.5rem;
}
  
  .cards {
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
  }
  
  .card {
    flex: 1;
    width: 100%;
    min-width: 50px;
    overflow: hidden;
    margin: 0 5px;
    border-radius: 15px;
    position: relative;
    transition: all 500ms;
    cursor: pointer;
  }
  
  .card.active {
    flex-grow: 5;
    margin: 0;
    max-width: 1000px;
  }
  
  .card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: brightness(110%);
  }
  
  .card__label {
    position: absolute;
    width: 100%;
    min-width: 400px;
    bottom: 0;
    padding: 0.5rem 1.5rem;
    opacity: 0;
    color: var(--color-white);
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 50%, transparent 100%);
    transition: opacity 500ms;
  }
  
  .card.active .card__label {
    opacity: 1;
  }
  
  .card__label__name{
    line-height: 1rem;
    margin: 0.5rem 0;
  }
  
  .card__label__info{
    margin-bottom: 5px 0;
    
  }
  
  .card.active .card__label__info{
    text-overflow: ellipsis;
  }
  @media screen and (max-width: 768px) {
    .card__label__name{
      font-size: 18px;
    }
    .card__label__info{
      font-size: 12px;
    }
    
  }
  @media screen and (max-width: 500px) {
    .cards{
      flex-direction: column;
    }
    .card {
      margin: 5px 0;
    }
    .card.active {
      margin: 0;
    }
    .card__label{
      padding: 0 1rem;
    }
  }
 





  